:root {
  --color-background: #f3f5fc;
  --color-text: black;
  --color-notice: #495057;
  --color-background-hover: #eff1fa;
}

/* Estilos para dispositivos móviles */

@media screen and (max-width: 767px) {
  :root {
    font-size: calc(8px + 0.5vw);
  }
}

/* Estilos para tabletas */

@media screen and (max-width: 1023px) and (min-width: 768px) {
  :root {
    font-size: calc(10px + 0.5vw);
  }
}

/* Estilos para dispositivos de escritorio */

@media screen and (min-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

/* Otros Estilos comunes */

body {
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  background: var(--color-background);
}
