.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem;
  height: 100vh;
}

.main__game {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
}

.main__game-drawing {
  width: 287px;
  height: 351px;
  flex-shrink: 0;
}

.main__game-word {
  display: flex;
  gap: 1rem;
}

.main__game-word-letter {
  width: 3rem;
  padding-bottom: 1rem;
  border-bottom: solid;
  font-size: 1.5rem;
  font-weight: 400;
  color: #0a3871;
  text-align: center;
}

.main__game-wrong {
  font-size: 1.5rem;
  font-weight: 400;
  color: #495057;
}

.main__control {
  width: 100%;
}

.main__control-notice {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main__notice-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.main__notice-text {
  font-size: 0.85rem;
  color: var(--color-notice);
  opacity: 0.8;
}

.main__control-keypad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.main__keypad-btn {
  width: 100%;
  height: 4.1875rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

.main__keypad-btn--new-game {
  background: #0a3871;
  color: #ffffff;
}

.main__keypad-btn--new-game:hover {
  background: #072b61;
}

.main__keypad-btn--desist {
  box-sizing: border-box;
  border: 0.0625rem solid #0a3871;
  color: #0a3871;
}

.main__keypad-btn--desist:hover {
  background: var(--color-background-hover);
}

.main__keypad-btn--disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

/* Estilos para tabletas */

@media screen and (min-width: 768px) {
  .main__game-drawing {
    width: 294px;
    height: 360px;
  }

  .main__control {
    width: 43rem;
  }

  .main__control-keypad {
    flex-direction: row;
  }
}

/* Estilos para dispositivos de escritorio */

/*@media screen and (min-width: 1024px) {
}*/
